numpy
tensorflow
keras
imbalanced-learn
Boruta==0.3
xgboost
regex
biopython
scikit-image
swifter
seaborn
logomaker
plotnine
statsmodels
opencv-python
pytest
pytest-testmon
pytest-github-actions-annotate-failures
nptyping
flake8
black
cairosvg